
body {
    color: darkblue;

    background-color: black;

}

th, td {
    background-color: white;
    border: 1px solid crimson;
    padding: 5px;
}


table {
    border-collapse: collapse;
    width: 95%;

}

th {
    background-color: lightcyan;

}

h1, h2 {
    color: lightcyan;
}

.accordion {
    background-color: lightcyan;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: lightgreen;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: black;
    display: none;
    overflow: hidden;
}