
body {
    color: black;
    background-color: white;

}

table {
    border-collapse:separate;
    border:double rgba(148, 49, 38 ,1) 10px;
    border-radius:10px;
    -moz-border-radius:10px;
    width:95%;
    background: white;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    background: lightcyan;
}

td, th {
    border-left:solid darkred 1px;
    border-top:solid darkred 1px;
    padding: 5px;
}

th {
    background-color:lightcyan;
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;
}

.accordion {
    background-color: lightcyan;
    border-radius:10px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    text-align: left;
    border:double #B03A2E 3px;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .accordion:hover {
    background-color: lightyellow;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 5px 0;
    background-color: white;
    display: none;
    overflow: hidden;
}

.parentCell{
    position: relative;
    border:solid #B03A2E 1px;
    background-color: rgba(51, 206, 255,0.1);
    margin: 2px;
}
.tooltip{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    z-index: 100;
    border:solid rgba(148, 49, 38 ,0.5) 3px;
    border-radius:5px;
    background-color: white;
    padding: 10px;
    color: black;
}
.parentCell:hover span.tooltip{
    display:block;
}

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;

}

/* Style tab links */
.tablink {
    border:double #B03A2E 3px;
    border-radius: 25px;
    background-color: rgba(102, 102, 153,0.1);
    color: black;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 300px;
}

.tablink:hover {
    background-color: rgba(51, 206, 255,0.5);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {background-color: rgba(51, 206, 255,0.1);}
#News {background-color:rgba(51, 206, 255,0.1);}
#Contact {background-color: rgba(51, 206, 255,0.1);}
#About {background-color: rgba(51, 206, 255,0.1);}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

